<%- include("../partials/header") %>
    <form action="/university/<%=university_id%>/comment/<%=comment._id%>/update?_method=PUT" method="post">
        <input type="text" name="comment[text]" value="<%=comment.text%>">
        <button type="submit">Submit</button>
    </form>
    <%- include("../partials/footer") %>