<%- include("../partials/header") %>
    <form action="/university/<%=foundUniversity._id%>/edit?_method=PUT" method="post">

        <div class="form-group">
            <label for="name"> Name</label>
                <input type="text" class="form-control" name="university[name]" value="<%=foundUniversity.name%>">
        </div>
        <div class="form-group">
            <label for="Image"> Image</label>
            <input type="text"  class="form-control" name="university[image]" value="<%=foundUniversity.image%>">
        </div>
        <div class="form-group">
            <label for=""> Description</label>
            <textarea name="university[description]" id="" cols="10" rows="10"><%=foundUniversity.description%></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>

    <%- include("../partials/footer") %>