<%- include("../partials/header") %>
    <div class="container mt-4">
        <div class="jumbotron text-center  alert-success">
            <h1 class="display-4 ">India Best University Reviews</h1>
           
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
                featured content or information.</p>
            <a class="btn btn-success " href="university/new">Add New University</a>
        </div>
    </div>

  


   <div class="container">
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% universitys.forEach(function(university){ %>
                <div class="col-md-3 col-sm-6 border-success">
                    <div class="thumbnail alert-success">
                        <img src="<%= university.image %>">
        
                        <div class="caption">
                            <h4>
                                <%= university.name %>
                            </h4>
                            <hr class="m-0 border-success  ">
                            <% if (university.rating===0) { %>
                                <em>No reviews yet.</em>
                                <% } else { %>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star <% if (university.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (university.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (university.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star <% if (university.rating > 4.5) { %> checked <% } %>"></span>
                                    <% } %>
                        </div>
                        <hr class="m-0 border-success">
                        <p>
                            <a href="/University/<%= university._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
                <% }); %>
        </div>
        </div>
   </div>
        
            <%- include("../partials/footer") %>